runtest.ps1
tests/
.vscode/
.env.example
cluster.env
service-dependencies.yaml
Dockerfile.debug

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yaml
.dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Documentation
docs/

# Misc
*.log
.DS_Store

dependencies.yaml
update_dependencies.ps1
update_dependencies.py
update_dependencies.sh
