pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
fastapi
faststream
aiokafka
uvicorn
python-json-logger
celery
redis
sse-starlette
prometheus-fastapi-instrumentator
saq[web,redis]
httpx
{% if with_mcp %}mcp{% endif %}